//MINE
//colors
//mauve;
$primary-500:#7B00E5 !default;
$primary-400:#E8D4FB;

//turquoise
$secondary-700:#003147;
$secondary-600 :#236C74; //vert foncé texte
$secondary-500: #00BED2 !default;
$secondary-400:#BBF2F4;
$secondary-300:#D6FBFF;

//vert
$third-800:#08636A;
$third-700:#16CC86;
$third-600:#7EFFCD;
$third-500:#B3FF00!default;

//text
$text-color: #062C2F;
$text-menu-color:#00425A;

//fonts
$font-text: 'Open Sans', sans-serif;
$dosis:'Dosis', sans-serif;


